<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>18</title>
    <% include ../../partials/bootstrap.ejs %>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/">на главную</a>
        </div>
        <div class="panel-body">
            <button class="btn btn-default" onclick="{console.log('вперёд')}">вперёд</button>
            <button class="btn btn-default" onclick="{console.log('назад')}">назад</button>
        </div>
    </div>
</div>
</body>
</html>