<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>21</title>
    <% include ../../partials/bootstrap.ejs %>
    <style>
        canvas {
            outline: 1px solid black;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/">на главную</a>
            <a href="/21/controllers" style="float: right">к контроллерам</a>
        </div>
        <div class="panel-body">
            <canvas id='canvas'></canvas>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script>
    let socket = io(location.origin);
    let stage = new createjs.Stage("canvas");

    let bitmaps_array = [];
    socket.on('21_command_listen', function (data) {
        if (data.socket_id in bitmaps_array) {
            switch (data.command) {
                case 'up':
                    bitmaps_array[data.socket_id].y -= 10;
                    break;
                case 'down':
                    bitmaps_array[data.socket_id].y += 10;
                    break;
                case 'right':
                    bitmaps_array[data.socket_id].x += 10;
                    break;
                case 'left':
                    bitmaps_array[data.socket_id].x -= 10;
                    break;
                case 'delete':
                    stage.removeChild(bitmaps_array[data.socket_id]);
                    delete bitmaps_array[data.socket_id];
                    break;
            }
        } else {
            let bitmap = new createjs.Bitmap("/img/pacman.png");
            bitmap.scaleX = 0.3;
            bitmap.scaleY = 0.3;
            bitmap.x = 40;
            bitmap.y = 40;
            stage.addChild(bitmap);

            bitmaps_array[data.socket_id] = bitmap;
        }

        stage.update();
    });
</script>
</body>
</html>