<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>19</title>
</head>
<body>

<input type="text" id="text">
<button id="sendButton">отправить</button>

<div id="out">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script>
    let socket = io(location.origin);
    socket.on('19_listen', function (data) {
        console.log(data);
        let p = document.createElement('p');
        p.innerText = data.message;
        document.getElementById('out').appendChild(p);
    });

    document.getElementById('sendButton').onclick = function () {
        let message = document.getElementById('text').value;
        if (message.length > 0) {
            socket.emit('19_send', {message: message});
        }
    }
</script>
</body>
</html>